@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto+Condensed&display=swap');

html{font-size: 20px};

body{
  font-family: "Roboto Condensed", 
  sans-serif;
  margin: 0;
  
}

h1{ font-size: 1.9rem; }
h2{font-size: 1,5rem;}

h1,h2,h3{
  font-family: "Noto Serif", serif;
  font-weight: normal;
}

.wrapper{
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 20px;
}

.teaser ul{
  list-style: none;
  margin: 0 -10px;
  padding: 40px 0;

}

.teaser ul:after{
  content: "";
  visibility: hidden;
  display: block;
  clear: both;

}

.teaser ul li {
  display: inline-block;
  width: calc(50% - 20px);
  margin: 0 10px;
  float: left;
  position: relative;
  overflow: hidden;
  
}

  
.teaser ul li .text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100%;
  text-align: center;
  background-color: rgba(255,255, 255, 0.5);
  transition: all 0.5s;
}

.teaser ul li img{
  width: 100%;

}

.teaser ul li:hover .text {
  top: 0;
}

.teaser ul li .text h2{
  margin-top: 40px;
}
.wrapper .teaser ul li a {
      text-decoration: none;
      color: white;
      background-color: #e2001a;
      padding: 20px;
  text-decoration: none;
  border-radius: 20px;
    }
header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
  
}
 nav{
   position: absolute;
   top:  0;
   right: 0;
 }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  

}

nav > ul >li{
  display: inline-block;
}


 nav> ul > li > a {
  padding: 0 20px;
  text-decoration: none;
  line-height: 100px;
    display: block;
    transition: all 0.5s;
}

    header nav ul li a{
      color: #5c6971;
    }


    header nav ul li:hover a {
  background-color: #e2001a;
  color: white;
}

header nav ul li ul { 
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background-color: #e2001a;
  padding:10px;
  transition: all 0.5s 0.2s;}

  header nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
}

  header nav ul li ul li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
  }


.keyvisual{
  background-image: url(keyvisual.jpg);
  height: 100vh;
  min-height: 850px;
  background-size: cover;
  position: relative;}

.keyvisual:after{
  content: "";
  position: absolute;
  height: 600px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0) 50%);
}

  .keyvisual .wrapper{
    height: 100%;
    box-sizing: border-box;
  }

  .keyvisual aside{
    position: relative;
    top: 150px;
    background-color:rgba(255, 255, 255, 0.9);
    padding: 20px ;
    width: 400px ;
  }

            .keyvisual aside ul{
      list-style: none;
      padding: 0;
      margin: 0;

    }
    .keyvisual aside  ul li a{
      color: #5c6971;
      text-decoration: none;
      display: block;
      padding: 15px 0;
      border-top: 1px solid grey;
    }

    .keyvisual aside ul li:first-child a{
      border-top: none;
    }

    
           .keyvisual aside ul li{
          
            color: #5c6971;}

  .keyvisual .text{
    position: absolute;
    bottom: 50px;
    z-index: 50;

  }
  .keyvisual .text * {
    color: white;
  }
         .keyvisual .text h1{
    font-size: 50px;
    margin-top: 20px;}

  .keyvisual .text h2{
    text-transform: uppercase;
    font-size: 20px;
  }
  .button {
    background-color: #e2001a;
    padding: 20px;
    text-decoration: none;
    border-radius: 20px;
    color: white;
    display: inline-block;
  }
   footer { 
   background-color: #262626;
   }
  footer nav ul li a {
   color: #fff;
   text-decoration: none;
}
   footer img{
     width: 150px; }