/* Reset styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  /* Basic styles */
  body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
  }
  
  .wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px 20px 20px;
  }
  

  
  /* Keyvisual styles */
  section.main {
	margin-top: 0;
	background-color: #f7f7f7;
	text-align: center;
  }
  
  .keyvisual {
	background-image: url(/assets/plants.jpg);
	background-size: cover;
	background-position: center;
	height: 500px;
	position: relative;
  }
  
  .keyvisual .teaser {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 0.9);
	padding: 30px;
	max-width: 600px;
	margin: 0 auto;
	border-radius: 10px;
  }
  
  .keyvisual .teaser h1 {
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 20px;
  }
  
  .keyvisual .teaser h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 40px;
  }
  
  /* Form styles */
  form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
	margin-top: 50px;
  }
  
  form label {
	font-weight: bold;
	margin-bottom: 10px;
  }
  
  form input[type="text"],
  form input[type="number"],
  form select {
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	border-radius: 5px;
	border: none;
	background-color: #f7f7f7;
  }
  
  form input[type="submit"] {
	background-color: #8c4b4b;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
  }
  
  form input[type="submit"]:hover {
	background-color: #ffffff;
	color: #8c4b4b;
	border: 2px solid #8c4b4b;
  }
  
  /* List styles */
  #pflanzenliste {
	list-style-type: none;
	margin-bottom: 40px;
  }
  
  /* Styling für die Liste der Pflanzen */
#pflanzenliste {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  #pflanzenliste li {
	background-color: #f6f6f6;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  #pflanzenliste li span {
	font-weight: bold;
  }
  
  #pflanzenliste li .actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  #pflanzenliste li .actions a {
	color: #333;
	text-decoration: none;
	padding: 5px;
	border-radius: 3px;
  }
  
  #pflanzenliste li .actions a:hover {
	background-color: #eee;
  }

  .wrapper { 
	max-width: 1000px; /* Maximale Breite festlegen*/
	margin: 0 auto; /* Außenabstand "0 auto" = unsichtbare Flucht*/
	position: relative;
	padding: 20px; /* Innenabstand*/
}
header {
	position: fixed; /* Header ist oben fixiert bei scrollen*/
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.9);
	z-index: 100; /* macht, dass Header vor Content liegt -> je höher die Zahl, desto weiter ist er auf einer Ebene */
}
nav {
	position: absolute;
	top:0;
	right: 0;
}
nav ul {
	list-style: none; /* Sorgt dafür, dass Bulletpoints entfernt werden von der Liste*/
	margin: 0;
	padding: 0;
}
nav > ul > li { /* ">" sorgen dafür, dass nur Kindelemente angesprochen werden*/
	display: inline-block; /*Sorgt dafür, dass alle Listenelemente in einer Reihe stehen*/
}
nav > ul > li > a { 
	padding: 0 20px;
	text-decoration: none; /* macht Linie unter Text weg (Linie wie bei Link) */
	line-height: 100px;
	display: block;
	transition: all 0.5s;
}
header nav ul li a{
	color: #5c6971;
}
header nav ul li:hover a{
	background-color: #13c003;
	color: white;
}
header nav ul li ul {
	visibility: hidden; /* ausblenden */
	opacity: 0;
	position: absolute;
	background-color: #13c003;
	padding: 10px;
	transition: all 0.5s 0.2s; /* 1. Begriff = Dauer der Einbledung 2. Begriff = Latenz*/

}
header nav ul li:hover ul{
	visibility: visible; /* einblenden */
	opacity: 1;
}
header nav ul li ul li a{
	text-decoration: none;
	display: block;
	padding: 10px;
	color: white;				
}
.keyvisual {
	background-image: url(/assets/keyvisual2.jpg);
	height: 100vh;
	max-height: 1000px;
	background-size: cover; /*um Fläche mit einer Grafik ganz zu füllen*/
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 500px;
    max-width: 600px;
}

  
	